In [4]:
import pandas as pd
import numpy as np
import xlrd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from collections import defaultdict

In [26]:
# leaders function
def leaders(xs, top=10):
    counts = defaultdict(int)
    for x in xs:
        counts[x] += 1
    return sorted(counts.items(), reverse=True, key=lambda tup: tup[1])[:top]

In [5]:
# Import and sort
forfeitures = pd.read_excel('cook-county-forfeitures.xlsx')
estvalues = forfeitures['EstValue'].dropna()
forfvalues = forfeitures['ForfValue'].dropna()
vins = forfeitures['Vin'].dropna()
ads = forfeitures['AD']
cities = forfeitures['SeizeCity']
descrips = forfeitures['Descr']

estvalue_bins = np.arange(0, 10000, 500)

In [84]:
# number of seizures 2012-2017
len(forfeitures)

23106

In [21]:
# median estimated value of a seizure
estvalues.median()

1049.0

In [20]:
# mean estimated value
estvalues.mean()

4553.416355517019

In [34]:
# mode of estimated values
estvalues.mode()

0    1000.0
dtype: float64

In [19]:
# total estimated value of all seizures
estvalues.sum()

105024548.24000004

In [22]:
# total forfeited revenue 
forfvalues.sum()

47318608.921000004

In [24]:
# number of forfeitures
forfvalues.count()

12767

In [109]:
# number of forfeitures in Chicago
len(forfeitures.groupby(['SeizeCity']).groups['Chicago'])

16693

In [115]:
# sort and count number of seizures below $1,000
bottom = []
for value in estvalues:
    if value < 1000:
        bottom.append(value)
len(bottom)

11031

In [116]:
# sort and count number of seizures below $100
lowest = []
for value in estvalues:
    if value < 100:
        lowest.append(value)
len(lowest)

1497

In [29]:
# number of seized vehicles
vins.count()

5939

In [20]:
# number of accepted or declined forfeitures
leaders(ads)

[('A', 20933), ('D', 2122), (nan, 46), ('a', 5)]

In [5]:
# top number of seizures by city
leaders(cities)

[('Chicago', 16693),
 ('Cook County of', 389),
 ('Harvey', 225),
 ('Calumet City', 203),
 ('Lansing', 193),
 ('Evanston', 173),
 ('Cicero', 171),
 ('Orland Park', 169),
 ('Forest Park', 158),
 ('Matteson', 154)]

In [6]:
# most common seizures by description
leaders(descrips)

[('U.S.C.', 16095),
 ('2004 Pontiac Grand Prix', 24),
 ('2006 Chevrolet Impala', 23),
 ('2004 Chevrolet Impala', 22),
 ('USC', 22),
 ('2002 Ford Explorer', 19),
 ('2001 Buick Century', 19),
 ('2000 Chevrolet Impala', 17),
 ('2008 Chevrolet Impala', 17),
 ('2007 Chevrolet Impala', 16)]

In [4]:
# Plot histogram of estimated values
plt.hist(estvalues, bins = estvalue_bins)
plt.xlabel('Estimated Value of Item')
plt.ylabel('Number of Seizures')
plt.title('Number of Seizures by Value')
plt.grid(True)

In [5]:
plt.show()

In [30]:
# most common value seized
leaders(estvalues)

[(1000.0, 233),
 (500.0, 179),
 (200.0, 153),
 (100.0, 152),
 (2000.0, 133),
 (300.0, 118),
 (1500.0, 101),
 (3000.0, 96),
 (700.0, 95),
 (800.0, 95)]

In [31]:
# sort and count number of seizures below $500
under_five_hundo = []
for value in estvalues:
    if value < 500:
        under_five_hundo.append(value)
len(under_five_hundo)

6154

In [9]:
forfeitures.groupby(['SeizeCity']).EstValue.sum().reset_index().sort_values("EstValue", ascending=False)

              SeizeCity     EstValue
31              Chicago  73473093.15
49       Cook County of   2392977.26
41               Cicero   1896744.01
162            Oak Lawn   1574290.36
137              McCook   1240751.00
78             Evanston   1153502.37
29         Calumet City    806756.58
204          Schaumburg    774594.85
16               Berwyn    769040.20
174         Orland Park    653054.50
185  Park Ridge/Chicago    652713.82
88          Forest Park    634758.74
106       Hickory Hills    617804.75
60          Des Plaines    617724.25
100              Harvey    585535.55
164            Oak Park    583162.01
63               Dolton    516907.13
133            Matteson    510601.82
43             Columbus    495300.61
125             Lansing    443966.03
34      Chicago Heights    438707.42
4     Arlington Heights    436548.79
146        Morton Grove    420980.17
95             Glenview    384468.89
177            Palatine    342417.74
20           Bridgeview    326335.10
135             Maywood    318035.05
278            oak lawn    317659.55
139        Melrose Park    282596.58
223         Tinley Park    273733.02
..                  ...          ...
52          Cool County       625.00
280        orland hills       593.00
274        morton grove       576.00
102        Havover Park       512.00
239   arlington heights       505.00
3      Arlington Height       500.00
85             Flossmor       493.00
216      Stone Park, IL       486.00
295          stone park       480.00
293          schuamburg       470.00
264            lagrange       454.78
197             Roselle       434.00
227            Westcher       422.00
256       franklin Park       421.00
36    Chicago Ridgeland       395.00
247        calumet city       392.00
205           Schaumurg       359.00
275      mount prospect       335.00
134             Matthew       325.00
294              skokie       323.00
245          brookfield       305.00
32      Chicago Halsted       294.00
66                Eglin       256.00
112     Hoffman estates       224.00
259        hanover park       204.00
136         Maywood, IL       176.00
199            Rvanston       149.45
243          bridgeview       145.00
6            BRIDGEVIEW       129.00
105        Hickory Hill       100.00

[298 rows x 2 columns]